<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
    <ion-menu-button id="imenu" color="light"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label color="primary">Datos de contacto</ion-label>
      <ion-button fill="solid" slot="end" (click)="updatePhones()">Actualizar</ion-button>
    </ion-item>
    <br/>
    <ion-list>
      <ion-item>
        <ion-icon name="finger-print" slot="start"></ion-icon>
      <ion-input value="Documento: {{document.id_documento}}" readonly *ngFor="let document of documents"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
        <ion-label>Celular:</ion-label>
        <ion-input type="number" autocomplete="off" placeholder="{{phone.celular}}" name="cel_1" [(ngModel)]="update.celular" *ngFor="let phone of phones"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
        <ion-label>Celular 2:</ion-label>
        <ion-input type="number" autocomplete="off" placeholder="{{phone.celular_2}}" name="cel_2" [(ngModel)]="update.celular_2" *ngFor="let phone of phones"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>Telefono:</ion-label>
        <ion-input type="number" autocomplete="off" placeholder="{{phone.telefono}}" name="tel" [(ngModel)]="update.telefono" *ngFor="let phone of phones"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="business-outline" slot="start"></ion-icon>
        <ion-label>Laboral:</ion-label>
        <ion-input type="number" autocomplete="off" placeholder="{{phone.tel_laboral}}" name="tel_lab" [(ngModel)]="update.tel_laboral" *ngFor="let phone of phones"></ion-input>
      </ion-item>
      <br/>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label color="primary">Datos de sesión</ion-label>
      <ion-button fill="solid" slot="end" (click)="updatePassword()">Actualizar</ion-button>
    </ion-item>
    <br/>
    <ion-list>
    <ion-item>
      <ion-icon name="key-sharp" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="session.contrasena"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="key-sharp" slot="start"></ion-icon>
      <ion-input type="password"  placeholder="Confirmar contraseña" name="password" [(ngModel)]="validate.ccontrasena"></ion-input>
    </ion-item>
    <br />
    <br />
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div id="DataUsers">
        <ion-label id="note-title">Notas:</ion-label>
        <br/>
      <ion-label id="note">• Los campos teléfono consultan los datos telefónicos actuales de los usuarios.</ion-label>
      <br />
      <ion-label id="note-title">• ¡Recuerda actualizar el qr en la página para los lectores!</ion-label>
      </div>      
    </ion-card-content>
  </ion-card>
</ion-content>

 <!--
</ion-list>
<ion-item>
  <ion-button expand="block" color="secondary" (click)="loginAction()">Iniciar Sesión</ion-button>
</ion-item>-->