* {
  font-family: "Raleway";
}

#DataUsers {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
}
#note-title {
  color: #6d64f1;
  font-weight: bold;
}
#note {
  color: black;
}

#note-bold {
  color: #f02e2e;
  font-weight: bold;
}
#notes {
  z-index: -2;
}
#imenu {
  top: 2%;
  right: 2%;
  position: fixed;
}
