*{
    font-family: 'Raleway';
}

#DataUsers{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
}
#note-title{
    color: red;
    font-weight: bold;
}
#note{
    color: red;
}

#notes{
    z-index: -2;
}
#imenu{
  top:2%;
  right: 2%;
  position: fixed;
}