<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-menu-button id="imenu" color="light"></ion-menu-button>
    <ion-title>Seguimiento - Alertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <ion-button (click)="StartTracking()" expand="block" fill="solid" *ngIf="!isTracking">
      <ion-icon name="locate-outline"></ion-icon> &nbsp;
      Comenzar rastreo!
    </ion-button>
    <ion-button (click)="StopTracking()" expand="block" fill="solid" color="danger" *ngIf="isTracking">
      <ion-icon name="hand-right-outline"></ion-icon>&nbsp;
      Detener rastreo!
    </ion-button>
    </ion-card-content>
  </ion-card>
  
  <ion-list mode="ios">
    <ion-list-header>Posición Actual:</ion-list-header>
    <ion-item *ngFor="let location of locations">
      {{geoAddress}}
    </ion-item>
  </ion-list>

 <ion-card>
  <ion-card-header>
    <ion-button (click)="scheduleNotification()" expand="block" fill="outline">Enviar notificación</ion-button>
    <ion-button (click)="recurringNotification()" expand="block" fill="outline">Recordar notificaciones</ion-button>
    <ion-button (click)="repeatingDaily()" expand="block" fill="outline">Enviar notificaciones Diariamente</ion-button>
    <ion-button (click)="getAll()" expand="block" fill="outline">Listar las notificaciones</ion-button>
  </ion-card-header>
      <ion-list>
        <ion-item *ngFor="let n of scheduled">
          <ion-label text-wrap>
            {{ n.id }} - {{ n.title }}
            <p>Trigger: {{ n.trigger|json }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
  <ion-card-content>

  </ion-card-content>
</ion-card>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button mode="ios" color="primary" (click)="help()" expand="full">Información del Modulo</ion-button>
  </ion-toolbar>
</ion-footer>