.ripple-parent {
  position: relative;
  overflow: hidden;
}

#Datos{
    left: 5%;
    right: 4%;
    top:60%;
    position: fixed;
    text-align: center;
    margin-left: auto;
}

#datosinner{
  padding:5%;
}
#imenu{
  top:2%;
  right: 2%;
  position: fixed;
}

#image{
  width: 100%;
}

