.ripple-parent {
  position: relative;
  overflow: hidden;
}

#Datos{
    padding:5%;
    top:60%;
    position: fixed;
    text-align: center;
}

#imenu{
  top:2%;
  right: 2%;
  position: fixed;
}

#image{
  width: 100%;
}