<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Restablecer Contraseña</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
        <img src="../../../assets/images/Forgot-Password-Image.jpg" alt="Forgot" />
        <ion-card-header id="letras">
            <ion-card-title>
                <ion-icon name="key-outline"></ion-icon>Reestablecer Contraseña
            </ion-card-title>
            <br />
            <ion-card-subtitle>Por favor complete el formulario, para reestablecer la contraseña.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-icon name="at-outline" slot="start"></ion-icon>
                    <ion-input autocomplete="off" placeholder="Correo electrónico" type="text" name="email"
                        [(ngModel)]="data.email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-icon name="key-sharp" slot="start"></ion-icon>
                    <ion-input autocomplete="off" placeholder="Contraseña" type="password" name="password"
                        [(ngModel)]="data.contrasena"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-icon name="key-sharp" slot="start"></ion-icon>
                    <ion-input autocomplete="off" placeholder="Confirmar Contraseña" type="password" name="password"
                        [(ngModel)]="data.ccontrasena"></ion-input>
                </ion-item>
            </ion-list>
            <br />
            <ion-button expand="block" color="success" (click)="resetPass()">Confirmar</ion-button>
            <ion-button expand="block" color="danger" (click)="cancelPass()">Cancelar</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>