<ion-header>
  <ion-toolbar>
    <ion-title>Mensaje</ion-title>
  </ion-toolbar>
</ion-header>

<div #Map class="map"></div>

<ion-card id="container">
  <ion-card-header>
    <ion-card-title>Ubicación</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>Latitud: {{ location.lat }}</ion-item>
    <ion-item>Longitud: {{ location.lng }}</ion-item>    
  </ion-card-content>
  <ion-card-content id="message-content">
    <ion-card-title>Mensaje</ion-card-title>
    <ion-item>
      <ion-textarea placeholder="Mensaje que desea enviar..."></ion-textarea>
    </ion-item>
    <ion-button color="success">Enviar</ion-button>
  </ion-card-content>
</ion-card>