<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="wcard">
    <img src="../../../assets/images/Welcome-Image.jpg" id="image" />
    <ion-card-header>
      <ion-card-title *ngFor="let name of names">¡Hola {{name.nombre}}!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>Bienvenido a EmergenciaQR</strong>
      <br />
      <br />
      Esta plataforma ha sido diseñada para ofrecer un servicio de aviso de emergencia para tu familia en caso de emergencia,
      en esta aplicación podrás actualizar tu información, además de generar una alerta de tu ubicación cada cierto tiempo si deseas.

      <br />
      <br />
      <strong>Recuerda usar tu casco e implementos de seguridad.</strong>
      
    </ion-card-content>
  </ion-card>
</ion-content>
