<ion-header>
    <ion-toolbar mode="ios" color="primary">
        <ion-menu-button id="imenu" color="light"></ion-menu-button>
        <ion-title>Bienvenido</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card id="wcard">
        <img src="../../../assets/images/Welcome-Image.jpg" id="image" />
        <ion-card-header>
            <ion-card-title *ngFor="let name of names">¡Hola {{name.nombre}}!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <strong>Bienvenido a EmergenciaQR</strong>
            <br />
            <br />
            Esta plataforma ha sido diseñada para ofrecer un servicio de aviso de emergencia para tu familia,
            en esta aplicación podrás actualizar tu información, además de generar una alerta de tu ubicación cada
            cierto tiempo si deseas.
            <strong>Te recomendamos leer términos y condiciones para activar un módulo importante</strong>
            <br />
            <br />
            <strong>
                <p id="remember">Recuerda usar tu casco e implementos de seguridad.</p>
            </strong>
            <br />
            <br />


        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-button mode="ios" color="primary" (click)="tyc()" expand="full">Leer términos y condiciones</ion-button>
    </ion-toolbar>
</ion-footer>